.ui-slider-range,
#accordion-widget .panel-default > .panel-heading:hover,
#accordion-widget .panel-default > .panel-heading:focus,
.btn-transparent:focus,
.btn-transparent:hover,
#accordion-first .accordion-heading .accordion-toggle.active em,
.contact_tab .nav-tabs > li.active > a,
.contact_tab .nav-tabs > li.active > a:hover,
.contact_tab .nav-tabs > li.active > a:focus,
.overlay.dark-version .title h2 span,
.portfolio-filter .btn:active,
.portfolio-filter .btn.active,
.portfolio-filter .btn:hover,
.portfolio-filter .btn:focus,
.btn-dark:hover,
.btn-dark:focus,
.btn-slider .btn-transparent:focus,
.btn-slider .btn-transparent:hover {
  border-color: #7a1c5a !important;
  background-color: #7a1c5a !important;
}
.magnifier {
  background: #7a1c5a;
}
.pricing-box .btn,
.pricing-body .btn {
  background-color: #7a1c5a;
  border-color: #7a1c5a;
}
.shop-top,
.about_img .title,
.calloutbox,
.pricing-table.dark,
.progress-bar {
  background-color: #7a1c5a !important;
}
.hover-effect-1 .buttons span i,
.portfolio-item-second .buttons span i,
.tabbed_services .service-box:hover .icon-container {
  color: #7a1c5a !important;
}
