/* CSS Document */
body.login { height: 120%; padding-bottom: 20px; }
body.login div#login {width:30%;}
body.login div#login h1 {}
body.login div#login h1 a {}

body.login form#registerform,
body.login div#login form#loginform { background-color: #f5f5f5; box-shadow: none; padding-top: 80px; }

body.login form#registerform p,
body.login form#lostpasswordform p,
body.login div#login form#loginform p { clear:both; display: block; width: 100%;}

body.login form#registerform p label,
body.login form#lostpasswordform p label,
body.login div#login form#loginform p label {width: 100%; padding-right: 15px; padding-left: 15px; position: relative;}		

body.login form#registerform p label > br,
body.login form#lostpasswordform p label > br,
body.login div#login form#loginform p label > br { display: none; }

body.login form#registerform input[type=text],
body.login form#registerform input[type=email],
body.login form#lostpasswordform input[type=text],
body.login div#login form#loginform input[type=text],
body.login div#login form#loginform input[type=password] { float:right; width:60%; margin-top: -8px; border-left: 2px solid #333; }

body.login form#registerform input[type=email]:focus,
body.login form#registerform input[type=text]:focus,
body.login form#lostpasswordform input[type=text]:focus,
body.login div#login form#loginform input[type=text]:focus,
body.login div#login form#loginform input[type=password]:focus { border-color: #333; box-shadow: none; }

body.login div#login form#loginform input#user_login {}
body.login div#login form#loginform input#user_pass {}
body.login div#login form#loginform p.submit,

body.login div#login form#loginform p.forgetmenot { clear: none; width: 50%; float:left; margin-top: 40px; }
body.login div#login form#loginform p.forgetmenot input#rememberme {}
body.login div#login form#loginform p.submit { float: right; margin-top: 25px; }

body.login form#registerform p.submit input#wp-submit,
body.login form#lostpasswordform p.submit input#wp-submit,
body.login div#login form#loginform p.submit input#wp-submit { background: none repeat scroll 0 0 rgba(55, 55, 55, 1); border-color: #333; color: #fff; font-family: Verdana,Geneva,sans-serif; font-weight: normal;
 															 font-size: 18px; line-height: 1.33; padding: 10px 16px;
															 height: auto; box-shadow: none;}				
body.login div#login p#nav {}
body.login div#login p#nav a {}
body.login div#login p#backtoblog {}
body.login div#login p#backtoblog a {}

body.login {
    background-position: center center;
    background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

